<div class="block msg_list_block" id="posts">
				<h3 class="block_header">Viralheat Message Board</h3>
				<div class="block_panel">
					<div class="block_panel_part block_panel_part-left">
						<span class="block_panel_btn">
							<span class="block_panel_btn_icon"></span>
							<a href="#/new"><span class="block_panel_btn_text">Post</span></a>
						</span>
					</div>
					<div class="block_panel_part block_panel_part-right">
						<span class="block_panel_link"><a href="#/index">List</a></span>
					</div>
				</div>

				<div class="block_content">
					<div class="msg_list" id="posts">

					</div>
				</div>

			</div>