<div class="msg_item">
  <div class="msg_item_content">
      <div class="msg_item_edge msg_item_edge-left">
        <a href="#/<%= id %>/edit"><span class="msg_item_icon msg_item_icon-edit"></span></a>
      </div>
      <div class="msg_item_content_header"><a href="#/<%= id %>"><%= title %></a></div>
      <div class="msg_item_content_info"><%= new Date(created_at) %></div>
      <div class="msg_item_edge msg_item_edge-right">
        <div class="msg_item_icon msg_item_icon-delete"><input  type="checkbox" /></div>
      </div>
 </div>
</div>