<div class="center_div">
    <div class="row">
         <div class="col-xs-6 col-sm-4">Post</div>
         <div class="col-xs-6 col-sm-4"></div>
         <div class="col-xs-6 col-sm-4"><span class="right_align">List</span></div>
    </div>
    <div class="row">
        <div class="col-xs-9"><%= message %></div>
    </div>
</div>
