<div class="block message_area">
				<h3 class="block_header">Viralheat Message Board</h3>
				<div class="block_panel">
					<div class="block_panel_part block_panel_part-left">
                    						<span class="block_panel_btn">
                    							<span class="block_panel_btn_icon"></span>
                    							<a href="#/new"><span class="block_panel_btn_text">Post</span></a>
                    						</span>
                    					</div>
                    					<div class="block_panel_part block_panel_part-right">
                    						<span class="block_panel_link"><a href="#/index">List</a></span>
                    					</div>
				</div>

				<div class="block_content">
					<div class="full_msg_content">
						<div class="full_msg_content_heading">
							<div class="msg_item_content">
								<div class="msg_item_edge msg_item_edge-left">
									<span class="msg_item_icon msg_item_icon-edit"></span>
								</div>
								<div class="msg_item_content_header"><%= title %></div>
								<div class="msg_item_content_info">Posted December, 6 2011 @ 5:30 PM b User</div>
							</div>
						</div>
						<div class="full_msg_content_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
						<div class="full_msg_content_btn">
							<a href="#/<%= id %>/edit"><span class="msg_btn msg_btn-edit">Edit</span></a>
						</div>
					</div>
				</div>

			</div>