<div class="block message_area">
				<h3 class="block_header">Viralheat Message Board</h3>
				<div class="block_panel">
					<div class="block_panel_part block_panel_part-left">
                    						<span class="block_panel_btn">
                    							<span class="block_panel_btn_icon"></span>
                    							<a href="#/new"><span class="block_panel_btn_text">Post</span></a>
                    						</span>
                    					</div>
                    					<div class="block_panel_part block_panel_part-right">
                    						<span class="block_panel_link"><a href="#/index">List</a></span>
                    					</div>
				</div>

				<div class="block_content">
					<div class="full_msg_content">
						<div class="full_msg_content_heading">
							<div class="msg_item_content">
								<div class="msg_item_edge msg_item_edge-left">
									<span class="msg_item_icon msg_item_icon-edit"></span>
								</div>
								<div class="msg_item_content_header"><%= title %></div>
								<div class="msg_item_content_info"><%= new Date(created_at)%></div>
							</div>
						</div>
						<div class="full_msg_content_text"><%= message %></div>
						<div class="full_msg_content_btn">
							<a href="#/<%= id %>/edit"><span class="msg_btn msg_btn-edit">Edit</span></a>
						</div>
					</div>
				</div>

			</div>